.questionpage-wrapper {
  color: var(--white-text);
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
}

.questions-container {
  width: 50%;
  margin: 0 auto;
  gap: 3rem;
}

.container-header {
  font-size: 2rem;
  justify-content: space-between;
}

.question-box {
  font-size: 3rem;
}

.options {
  margin: 0 auto;
  width: 45rem;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--options-bg);
  border-radius: 20px;
  color: var(--white-text);
}

.btn-nextQuestion {
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
  width: max-content;
  margin: 2rem auto 0 auto;
  font-size: 2rem;
}

.correct{
  background-color: var(--green);
  color: var(--white-text);
}

.incorrect{
  background-color: var(--red);
  color: var(--white-text);
}