.nav-bar{
    display: flex;
    width: 100vw;
    height: 8rem;
    grid-area: nav;
    color: var(--white-text);
    background-color: var(--backgound-color);
    color: var(--white-text);
}

.nav-title{
    padding-left: 3rem;
    padding-top: 1rem;
    font-size: 3rem;
}