.nav-bar{
    display: flex;
    width: 100vw;
    height: 8rem;
    grid-area: nav;
    color: var(--white-text);
    background-color: var(--backgound-color);
    color: var(--white-text);
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    padding-left: 3rem;
    font-size: 3rem;
}

.login-signup-header, .logout-header{
    font-size: 2rem;
    gap: 2rem;
    padding-right: 3rem;
}